<!DOCTYPE html>
<html>
<head>
    <title>SWIFT cash out request</title>
</head>
<body>
    <table>
        <tr>
            <td>
                User email: @[Email]
            </td>
        </tr>
        <tr>
            <td>
                Requested funds: @Model.Amount @[AssetId]
            </td>
        </tr>
        <tr>
            <td>
                Beneficiary's Account number (IBAN): @[AccNumber]
            </td>
        </tr>
        <tr>
            <td>
                Name of the accountholder: @[AccName]
            </td>
        </tr>
        <tr>
            <td>
                SWIFT / ABA Routing: @[Bic]
            </td>
        </tr>
        <tr>
            <td>
                Name of the bank: @[BankName]
            </td>
        </tr>
        <tr>
            <td>
                Address of the accountholder: @[AccHolderAddress]
            </td>
        </tr>
        <tr>
            <td>
                <a href="@[ExplorerUrl]">Bitcoin transaction</a>
            </td>
        </tr>
    </table>
</body>
</html>