<html>
<body style="margin: 0; padding: 0">
<table border="0" cellpadding="0" cellspacing="0" style="color: #9ea5af; background-color: #202528; width: 100%; min-height: 100%; font-family: 'Arial Bold MT', 'Arial', sans-serif;">
    <tr>
        <td style="text-align: center;">
            <table border="0" cellpadding="0" cellspacing="0" style="display: inline-block; color: #9ea5af; max-width: 510px;">
                <tbody>
                <tr>
                    <td style="padding-top: 22px; padding-left: 5px; padding-right: 5px;">
                        <p style="text-align: center;">
                            <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/heads/logo_small.png" style="max-width: 100%" />
                        </p>
                        <h1 style=" text-align: center; font-size: 26px; font-weight: bold; margin-bottom: 33px; color: #ffc524;">Deposit complete</h1>
                        <p style="text-align: center; font-size: 16px; margin-bottom: 30px;">Dear @[ClientName],</p>
                        <p style="text-align: center; margin-bottom: 30px;">
                            Your transfer of @[AmountFiat] @[AssetId] is received.
                        </p>
                        <p style="text-align: center; margin-bottom: 50px;">
                            The equivalent amount of AlpineVault coins (@[AmountLkk] AlpineVault at price @[Price]) is transferred to your trading account. After 3 confirmations on blockchain it will be detected in your AlpineVault account.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #45494c; padding-top: 12px; padding-bottom: 21px; padding-left: 5px; padding-right: 5px;">
                        <p style="text-align: center; font-size: 12px;">
                            If you did not sign up for this account you can ignore this email and the account will be deleted.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #45494c; padding-top: 15px; padding-bottom: 41px; padding-left: 5px; padding-right: 5px;">
                        <p style="text-align: center; font-size: 16px">LET'S STAY CONNECTED</p>

                        <p style="text-align: center; font-size: 12px;">
                            To make sure you're not missing out the latest alerts and promotions, add <a style="color: #ffc524" href="mailto:reply@alpinevault.com">reply@alpinevault.com</a> to your addressbook.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>