<table border="0" cellpadding="0" cellspacing="0" bgcolor="#202528" style="color: #9ea5af; background-color: #202528; width: 100%">
    <tbody>
    <tr>
        <td style="padding-left: 50px; padding-right: 50px; padding-top: 22px; padding-bottom: 21px;">
            <p style="text-align: center;">
                <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/heads/logo_small.png" />
            </p>
            <p style="text-align: center;">
                <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/heads/emailconfirmation.png" />
            </p>
            <h1 style=" text-align: center; font-size: 26px; font-weight: bold; margin-bottom: 33px; color: #ffc524;">Verify your email address</h1>
            <p style="text-align: center; font-size: 16px; margin-bottom: 30px;">In order to start using your trading account, you need to confirm your email address. Please enter the following PIN on you smartphone:</p>
            <p style="text-align: center; margin-bottom: 50px;">
                <span style="display: inline-block; border: 1px solid #aeb4bd; padding-left: 41px; padding-right: 41px; padding-top: 10px; padding-bottom: 10px; color: white; font-weight: bold; font-size: 26px;">@[ConfirmationCode]</span>
            </p>
            <p style="text-align: center; font-size: 12px; padding-top: 12px; border-top: 1px solid #45494c;">
                If you did not up for this account, you can ignore this email, and the account will be deleted.
            </p>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #45494c; padding-top: 15px; padding-bottom: 41px">
            <p style="text-align: center; font-size: 16px">LET'S STAY CONNECTED</p>
            <p style="text-align: center;">
                <span style="display: inline-block;"><a href="https://www.facebook.com/LykkeCity/" target="facebook"><img style="height: 28px; width: 28px;" src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/icons/facebook.png" /></a></span>
                <span style="display: inline-block; padding-left: 22px; padding-right: 22px;"><a href="https://twitter.com/LykkeCity" target="twitter"><img style="height: 28px; width: 28px;" src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/icons/twitter.png" /></a></span>
                <span style="display: inline-block;"><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="youtube"><img style="height: 28px; width: 28px;" src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/images/icons/youtube.png" /></a></span>
            </p>

            <p style="text-align: center; font-size: 12px;">
                This email was sent to kolpagraph. To make sure you're not missing out the latest alerts and promotions, add <a style="color: #ffc524" href="mailto:reply@alpinevault.com">reply@alpinevault.com</a> to your addressbook.
            </p>
        </td>
    </tr>
    </tbody>
</table>
