<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AlpineVault!</title>
    <link type="text/css" rel="stylesheet" href="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/css/alpinevault-1.0.css" />
</head>
<body>
<div id="body">
    <div class="center">
        <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/heads/emailconfirmation.png" />
    </div>

    <div class="content center">
        <h1>Verify your email address</h1>
        <p>In order to start using your trading account, you need to confirm your email address. Please enter the following PIN on you smartphone:</p>
        <span class="pin">@[PinCode]</span>
        <hr />
        <p class="disclaimer">
            If you did not up for this account, you can ignore this email, and the account will be deleted.
        </p>
    </div>
</div>

<div id="footer">
    <h1>Let's stay connected</h1>
    <p class="center">
        <a href="https://www.facebook.com/LykkeCity/" target="facebook" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/facebook.svg" /></a>
        <a href="https://twitter.com/LykkeCity" target="twitter" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/twitter.svg" /></a>
        <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="youtube" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/youtube.svg" /></a>
    </p>

    <p class="content center">
        This email was sent to kolpagraph. To make sure you're not missing out the latest alerts and promotions, add <a href="mailto:reply@alpinevault.com">reply@alpinevault.com</a> to your addressbook.
    </p>
</div>
</body>
</html>