<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AlpineVault!</title>
    <link type="text/css" rel="stylesheet" href="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/css/alpinevault-1.0.css" />
</head>
<body>
<div id="body">
    <div class="center">
        <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/heads/userregistered.png" />
    </div>

    <div class="content">
        <h2>Hello @[FullName]</h2>
        <p>Welcome to AlpineVault<br/>"Precious Metals Club"</p>
    </div>

    <div class="content center">
        <img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/content/image.png" />
    </div>

    <div class="content">
        <h2>Thank you for signing up!</h2>
        <p>
            You're ready to start trading on the AlpineVault. You are authorized to deposit cash and buy precious metals.
        </p>
        <p>
            The focus of our business is precious metals.<br/>
            Our core competencies are chemistry, metallurgy and management of precious metals. We will deliver high quality products and services to customers that provide solutions.
        </p>
    </div>
</div>

<div id="footer">
    <h1>Let's stay connected</h1>
    <p class="center">
        <a href="https://www.facebook.com/LykkeCity/" target="facebook" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/facebook.svg" /></a>
        <a href="https://twitter.com/LykkeCity" target="twitter" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/twitter.svg" /></a>
        <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="youtube" class="button"><img src="https://lkealpinevaultemails.blob.core.windows.net/alpinevault/templates/images/icons/youtube.svg" /></a>
    </p>

    <p class="content center">
        This email was sent to kolpagraph. To make sure you're not missing out the latest alerts and promotions, add <a href="mailto:reply@alpinevault.com">reply@alpinevault.com</a> to your addressbook.
    </p>
</div>
</body>
</html>